@import '../../../styles/settings.scss';

.root {
    .background {
        background: url('https://images.pexels.com/photos/3576112/pexels-photo-3576112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        .overlayOne {
            width: 100%;
            height: 100%;
            background: rgba(156, 104, 104, 0.4);   
        }
    }
    .mainAbout {
        background-image: url('https://images.pexels.com/photos/1233418/pexels-photo-1233418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        margin: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
        .overlayTwo {
            width: 100%;
            height: 100%;
            background: rgba(43, 40, 40, 0.8); 
            border-radius: 18px; 
        }
        .aboutContent {
            line-height: 40px;
            font-family: $font-main;
            font-size: 28px;
            color: $color-white;
            padding: 40px 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                padding: 20px 0;
            }
        }
    }
}