@import '../../../styles/settings.scss';

.root {
    background-color: $color-white;
    border: 1px solid transparent;
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
        .projectBox {
            width: 80%;
            border: 3px solid $color-white;
            border-radius: 10px;
            padding: 20px 40px;
            margin: 20px auto;
            color: $color-white;
            transform: translateX(-120%);
            background-image: url('https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
            .titleProjects {
                font-family: $font-main;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .show {
            transform: translateX(0%);
            transition: $transition;
        }
    }
}
